<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head sec:authorize="isAuthenticated()">
    <meta charset="UTF-8">
    <title>Welcome to WAA</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<div th:replace="fragments/header :: header"/>

<body sec:authorize="isAuthenticated()">
<div class="container-fluid"  style="padding: 150px">
    Welcome to Meditation Attendance System
   <span th:text="#{welcome}" style="text-wrap: normal; width: 500px" ></span>
</div>
</body>

<div th:replace="fragments/footer :: footer"/>

</html>
